//@import "variables";
a {
    text-decoration: none;
}

.homeHeader {
    background-image: $homeHeader;
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

.homeHeader h1 {
    font-size: 7.26em;
}

.homeHeader img {
    position: absolute;
    right: 0;
    bottom: -200px;
}

.homeHeader h1 {
    float: left;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.gallery,
.intro {
    background: $frenchBlue;
}

.nav,
.roadTrips,
.events {
    background: $deepTurquoise;
}

.gallery {
    background-size: cover;
    background-position: center;
    text-align: center;
}

.gallery ul {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}

.gallery li {
    float: left;
    width: calc((100% - 40px)/3);
    margin-right: 40px;
}

.gallery li:last-child {
    margin-right: 0;
}

.gallery li:first-child {
    margin-left: 20px;
}

.nav {
    background-size: cover;
    background-position: center;
}

.nav a {
    font-size: 2.25rem;
    color: white;
}

.nav ul {
    margin-top: 200px;
    margin-bottom: 100px;
    height: 100%;
}

.nav li {
    float: left;
    width: calc((100% - 140px)/2);
    list-style: none;
    position: relative;
}

.nav li:nth-child(odd) {
    margin-right: 80px;
}

.nav i {
    font-size: 1.5rem;
    color: $darkishBlue;
    background: $brightAqua;
    border-radius: 100%;
    padding: 15px;
    width: 55px;
    height: 55px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    text-align: center;
}

.nav p {
    margin-left: 80px;
}

.intro {
    background-size: cover;
    background-position: center;
    position: relative;
}

.intro section {
    float: left;
    width: 100%;
}

#imgRight,
#imgLeft {
    position: absolute;
    width: 40%;
}

#imgRight {
    bottom: -50px;
    right: 0px;
    box-shadow: -35px -35px 0 -15px $brightAqua;
}

#imgLeft {
    top: -50px;
    left: 0;
    box-shadow: 35px 35px 0 -15px $brightAqua;
}

.textRight,
.textLeft {
    width: 40%;
}

.textLeft {
    float: left;
    text-align: right;
}

.textRight {
    float: right;
    text-align: left;
}

.readMore {
    background: $brightAqua;
    padding: 10px 30px;
    text-decoration: none;
    color: $darkishBlue;
}

.roadTrips {
    text-align: center;
}

.events {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 50px;
}

#banner {
    width: 100%;
    height: auto;
}

.eventImg {
    float: left;
    width: 40%;
}

.eventImg img {
    box-shadow: -20px 20px $brightAqua;
}

.eventText {
    float: right;
    width: 60%;
}

.eventText h3 {
    margin-top: 0;
}

#homeLink::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 4px solid $brightAqua;
}

@media only screen and (max-width: 1450px) {
    .homeHeader h1 {
        font-size: 100px;
    }
    .homeHeader img {
        width: 50%;
    }
    .eventImg img {
        display: none
    }
    .eventText {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .homeHeader h1 {
        font-size: 50px;
        text-align: center;
    }
    .homeHeader img {
        display: none;
    }
    .nav ul {
        display: flex;
        flex-direction: column;
    }
    .nav li {
        width: 100%;
    }
    #imgRight,
    #imgLeft {
        position: relative;
        width: 100%;
        box-shadow: none;
    }
    .intro,
    .intro .wrapper {
        display: flex;
        flex-direction: column;
    }
    .textLeft,
    .textRight {
        width: 100%;
    }
    .gallery ul {
        display: flex;
        flex-direction: column;
    }
    .gallery li {
        width: 100%;
    }
    .gallery li:first-child {
        margin-left: 0;
    }
}