@import "setup";
@import "variables";
@import "home";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import "blog";
@import "contact";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    color: white;
    font-size: 20px;
    font-family: 'Walter Turncoat', cursive;
}

header nav {
    font-family: 'Roboto', sans-serif;
    line-height: 29px;
    letter-spacing: 1px;
    font-weight: 700;
}

.wrapper {
    width: 80%;
    margin: auto 100px;
}

span {
    font-size: 0.7em;
}

p {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    font-style: italic;
}

.title {
    font-family: 'Walter Turncoat', cursive;
    font-size: 2rem;
    margin: 0;
}

header .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
}

header,
section {
    padding: 50px 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
    width: 400px;
    font-weight: 400;
    float: left;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

nav {
    position: relative;
}

nav ul {
    position: absolute;
}

nav .menu {
    display: flex;
    flex-direction: row;
}

nav .menuButton {
    display: none;
}

nav .menuIcon {
    padding: 28xp 20px;
    font-size: 50px;
    position: relative;
    float: right;
    cursor: pointer;
    display: none;
}

nav a {
    display: inline-block;
    border-bottom: 0 solid $brightAqua;
}

nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    border-bottom: 4px solid $brightAqua;
    transition: 0.2s;
}

nav a:hover::after,
nav a:focus::after {
    width: 100%;
}

nav a {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    outline: none;
}

button {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.27rem;
    background-color: $brightAqua;
    color: $darkishBlue;
    margin-top: 50px;
    border: none;
    padding: 10px;
    transition: 0.2s;
}

.readMore:hover,
.readMore:focus,
button:hover,
button:focus {
    background-color: $darkishBlue;
    color: $brightAqua;
}

input {
    border: none;
}

footer {
    background-color: $darkishBlue;
    text-align: center;
    padding: 10px 0;
    font-family: none;
}

footer p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: none;
}

::placeholder {
    color: white;
}

@media only screen and (max-width: 614px) {
    .wrapper {
        margin: 0;
        width: 90%;
    }
    nav .menuIcon {
        display: block;
    }
    nav .menu {
        margin-top: 50px;
        width: 100%;
        flex-direction: column;
        display: none;
    }
    nav ul {
        max-height: 0;
    }
    nav .menu li {
        align-items: center;
    }
    nav .menu a {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    nav .menuButton:checked~.menu {
        display: flex;
    }
    .blogHeader h1,
    .contactHeader h1,
    .homeHeader h1 {
        font-size: 40px;
        position: absolute;
        top: -30px;
        width: 80%;
        margin: 0;
    }
    .rightSection,
    .comments {
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .rightSection img {
        position: relative;
    }
}