@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.homeHeader {
  background-image: url("../funplaceAssets/homeHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.homeHeader h1 {
  font-size: 7.26em;
}

.homeHeader img {
  position: absolute;
  right: 0;
  bottom: -200px;
}

.homeHeader h1 {
  float: left;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery,
.intro {
  background: #474BB5;
}

.nav,
.roadTrips,
.events {
  background: #03697C;
}

.gallery {
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery ul {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery li {
  float: left;
  width: calc((100% - 40px)/3);
  margin-right: 40px;
}

.gallery li:last-child {
  margin-right: 0;
}

.gallery li:first-child {
  margin-left: 20px;
}

.nav {
  background-size: cover;
  background-position: center;
}

.nav a {
  font-size: 2.25rem;
  color: white;
}

.nav ul {
  margin-top: 200px;
  margin-bottom: 100px;
  height: 100%;
}

.nav li {
  float: left;
  width: calc((100% - 140px)/2);
  list-style: none;
  position: relative;
}

.nav li:nth-child(odd) {
  margin-right: 80px;
}

.nav i {
  font-size: 1.5rem;
  color: #044779;
  background: #08FDED;
  border-radius: 100%;
  padding: 15px;
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  text-align: center;
}

.nav p {
  margin-left: 80px;
}

.intro {
  background-size: cover;
  background-position: center;
  position: relative;
}

.intro section {
  float: left;
  width: 100%;
}

#imgRight,
#imgLeft {
  position: absolute;
  width: 40%;
}

#imgRight {
  bottom: -50px;
  right: 0px;
  -webkit-box-shadow: -35px -35px 0 -15px #08FDED;
          box-shadow: -35px -35px 0 -15px #08FDED;
}

#imgLeft {
  top: -50px;
  left: 0;
  -webkit-box-shadow: 35px 35px 0 -15px #08FDED;
          box-shadow: 35px 35px 0 -15px #08FDED;
}

.textRight,
.textLeft {
  width: 40%;
}

.textLeft {
  float: left;
  text-align: right;
}

.textRight {
  float: right;
  text-align: left;
}

.readMore {
  background: #08FDED;
  padding: 10px 30px;
  text-decoration: none;
  color: #044779;
}

.roadTrips {
  text-align: center;
}

.events {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 50px;
}

#banner {
  width: 100%;
  height: auto;
}

.eventImg {
  float: left;
  width: 40%;
}

.eventImg img {
  -webkit-box-shadow: -20px 20px #08FDED;
          box-shadow: -20px 20px #08FDED;
}

.eventText {
  float: right;
  width: 60%;
}

.eventText h3 {
  margin-top: 0;
}

#homeLink::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 4px solid #08FDED;
}

@media only screen and (max-width: 1450px) {
  .homeHeader h1 {
    font-size: 100px;
  }
  .homeHeader img {
    width: 50%;
  }
  .eventImg img {
    display: none;
  }
  .eventText {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .homeHeader h1 {
    font-size: 50px;
    position: absolute;
    top: -50px;
  }
  .homeHeader img {
    display: none;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav li {
    width: 100%;
  }
  #imgRight,
  #imgLeft {
    position: relative;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .intro,
  .intro .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textLeft,
  .textRight {
    width: 100%;
  }
  .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery li {
    width: 100%;
  }
  .gallery li:first-child {
    margin-left: 0;
  }
}

.blogHeader {
  background-image: url("../funplaceAssets/blogHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  position: relative;
}

.blogHeader h1 {
  font-size: 6.1em;
  line-height: 125.6px;
  margin-top: 50px;
}

.blogMain {
  background: #03697C;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 200px;
  overflow: visible;
}

.blogMain .wrapper {
  position: relative;
}

.rightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightSection,
.post,
.comments {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.rightSection {
  top: -200px;
  float: right;
}

#blogPostImage {
  right: 0;
  width: 100%;
  -webkit-box-shadow: -10px 10px #08FDED;
          box-shadow: -10px 10px #08FDED;
}

.postContent {
  position: relative;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 100px;
}

.post::after {
  content: '';
  position: absolute;
  top: 100px;
  right: 0px;
  bottom: 0px;
  left: -10px;
  border-left: 2px solid #08FDED;
  border-bottom: 2px solid #08FDED;
}

.commentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentImg {
  float: left;
  width: 100%;
}

.commentText {
  float: right;
}

.mission {
  margin-top: 100px;
  float: left;
  width: 100%;
}

.missionText {
  background: #474BB5;
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  float: right;
  -webkit-box-shadow: 0 -500px #474BB5;
          box-shadow: 0 -500px #474BB5;
}

.mission img {
  width: 90%;
  position: relative;
}

.recentPosts a {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 30px 10px;
}

.recentPosts li {
  padding: 10px;
}

.recentPosts li::before {
  content: "\2022";
  color: #08FDED;
  font-weight: bold;
  width: 1em;
}

.userInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userInput input,
.blogForm textarea {
  background-color: #03697C;
}

.userInput input {
  width: calc(50% - 5px);
  border: none;
  border-bottom: 2px solid #08FDED;
}

.blogForm textarea {
  border: 2px solid #08FDED;
}

#blogLink::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 4px solid #08FDED;
}

@media only screen and (max-width: 1230px) {
  .blogMain {
    gap: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission img,
  .missionText {
    width: 100%;
  }
}

@media only screen and (max-width: 614px) {
  .rightSection,
  .comments {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .rightSection img {
    position: relative;
  }
  .blogHeader h1 {
    font-size: 50px;
    position: absolute;
    top: -50px;
  }
}

.contactHeader {
  background-image: url("../funplaceAssets/contactHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  position: relative;
}

.contactHeader h1 {
  font-size: 6.1em;
  line-height: 125.6px;
  width: 100%;
  margin-top: 50px;
}

.contactMain {
  background: #03697C;
}

.contactMain .wrapper {
  margin: 0 auto;
}

.contactContent,
.mediaIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactContent {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mediaIcons {
  gap: 20px;
  font-size: 2rem;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactInfo p {
  margin: 0;
  padding: 0;
}

#contactEmail {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contactForm,
.contactUserInput input,
.contactForm textarea {
  background: #474BB5;
}

.contactForm {
  width: 100%;
  padding: 50px;
  -webkit-box-shadow: 20px 20px #08FDED;
          box-shadow: 20px 20px #08FDED;
}

.contactUserInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactUserInput input {
  width: calc(50% - 5px);
  border: none;
  border-bottom: 2px solid #08FDED;
}

.contactForm textarea {
  border: 2px solid #08FDED;
}

#contactLink::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 4px solid #08FDED;
}

@media only screen and (max-width: 942px) {
  .contactContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #contactEmail {
    margin: 0;
    padding: 0;
  }
  .contactInfo {
    padding-top: 100px;
  }
  .contactHeader h1 {
    font-size: 50px;
    position: absolute;
    top: -50px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  color: white;
  font-size: 20px;
  font-family: 'Walter Turncoat', cursive;
}

header nav {
  font-family: 'Roboto', sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 700;
}

.wrapper {
  width: 80%;
  margin: auto 100px;
}

span {
  font-size: 0.7em;
}

p {
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}

.date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  font-style: italic;
}

.title {
  font-family: 'Walter Turncoat', cursive;
  font-size: 2rem;
  margin: 0;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin-top: 0;
}

header,
section {
  padding: 50px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
  width: 400px;
  font-weight: 400;
  float: left;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

nav {
  position: relative;
}

nav ul {
  position: absolute;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .menuButton {
  display: none;
}

nav .menuIcon {
  padding: 28xp 20px;
  font-size: 50px;
  position: relative;
  float: right;
  cursor: pointer;
  display: none;
}

nav a {
  display: inline-block;
  border-bottom: 0 solid #08FDED;
}

nav a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  border-bottom: 4px solid #08FDED;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav a:hover::after,
nav a:focus::after {
  width: 100%;
}

nav a {
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  outline: none;
}

button {
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.27rem;
  background-color: #08FDED;
  color: #044779;
  margin-top: 50px;
  border: none;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover,
button:focus {
  background-color: #044779;
  color: #08FDED;
}

input {
  border: none;
}

footer {
  background-color: #044779;
  text-align: center;
  padding: 10px 0;
  font-family: none;
}

footer p {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  display: none;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

@media only screen and (max-width: 614px) {
  .wrapper {
    margin: 0;
    width: 90%;
  }
  nav .menuIcon {
    display: block;
  }
  nav .menu {
    margin-top: 50px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  nav ul {
    max-height: 0;
  }
  nav .menu li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .menu a {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  nav .menuButton:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
